@import "../voiture_noire/base.css";

body {
    --main-bg-colour-clear:  #fef6e6;
    --ivory:  #e4e4cd;
    --beige: #D1BFA6;
    --cool-gray: #939081;
    --jet-black: #040000;
    --midnight-blue: #4C6585;
    --misty-blue: #B0BFC2;
    --nude: #CCB4A9;
    --puce: #725446;

    background-color: var(--main-bg-colour-clear);
    color: var(--midnight-blue);
    line-height: 1.3em;

    footer {
        position:absolute;
        width: 100%;
        bottom:0px;
        right: 10px;
        z-index: -1;
        text-align: right;
        font-size: 10px;
    }

    h1 {
        color: var(--midnight-blue);
        text-align: right;
        filter: drop-shadow(1px 1px 2px var(--nude));
    }

    hr {
        color: var(--misty-blue);
        margin-bottom: 3em;
    }

    label {
        color: var(--midnight-blue);
        font-weight: bold;
        font-size: large;
        text-transform: uppercase;
        filter: drop-shadow(1px 1px 2px var(--misty-blue));
    }

    input, textarea {
        border: 1px solid var(--puce);
        filter: drop-shadow(1px 1px 2px var(--nude));
        border-radius: 2px;
        height: fit-content;
    }

    button {
        margin: 2em;
        padding: 10px;
        align-self: center;
        background-color: var(--midnight-blue);
        color: var(--nude);
        border: 3px double var(--misty-blue);
        width: fit-content;
        border-radius: 15px;
        font-weight: bold;
        cursor: pointer;
    }

    a {
        color: var(--puce);
    }
}

.form-main {
    display: flex;
    flex-flow: column;
    label {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
}


/* BANNIÈRE */
.banner-voiture-noire {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    ul {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 5px;
        padding: max(10px, 1em);
        list-style: none;
    }

    li {
        height: 3.2em;
    }

    button {
        margin: 0;
    }

    a {
        padding: 10px;
        background-color: var(--midnight-blue);
        color: var(--nude);
        border: 3px double var(--misty-blue);
        border-radius: 15px;
        text-decoration: none;
    }

    a, button {
        font-weight: bold;
        color: var(--ivory);

        &:hover {
            filter: brightness(115%);
        }
    }

    #welcome-blurb {
        font-style: italic;
    }
    
}

/* RESPONSIVE */
@media screen and (max-width: 1000px){
    main {
        margin: 0 5vw 0 5vw;
    }
    
    .banner-voiture-noire {
        margin: 0 2vw 0 2vw;
    }
}

@media screen and (min-width: 1001px){
    main {
        margin: 0 15vw 0 15vw;
    }

    .banner-voiture-noire {
        margin: 0 10vw 0 10vw;
    }

    .form-main {
        margin: 0 5vw 0 5vw;
    }
}
