<details class="section-profile">
    <summary>
        <h2 class="h2-blue-title">❧ Profil d'auteur/d'autrice</h2>
    </summary>

    <hr class="hr-blue-h2-title hr-section-profile">

    <form>
        {% csrf_token %}
        <label for="id_nickname">Votre nom de plume :</label>
        <div>{{ author_form.nickname }}</div>

        <label for="id_trackbear_profile">Profil trackbear :</label>
        <div>{{ author_form.trackbear_profile }}</div>

        <label for="id_other_profile_url">Autres profils :</label>
        <div>{{ author_form.other_profile_url }}</div>

        <input type="hidden" name="form_type" value="author">

        <button type="submit">Enregistrer</button>
    </form>

    <h3 id="your-crimes" class="subtitle-section-profile">
        {% if author_profile.criminal %}
            Vos crimes
        {% else %}
            Vos œuvres
        {% endif %}
    </h3>

    <div class="div-profile-criminal">
        <input
            type="checkbox"
            id="criminal-switch"
            onclick="handleCriminality()"
            {% if author_profile.criminal %}
            value="on"
            checked
            {% endif %}
        >
        <p>Comment ça, « mes œuvres »</p>
    </div>
    {% if stories|length == 0 %}
        <p>Rien pour le moment. Rien pour le moment ? RIEN POUR LE MOMENT ? ÉCRIVEZ TOUT DE SUITE.</p>
    {% endif %}

    {% for story in stories %}
        {% include '../story_card.html' %} 
    {% endfor %}
</details>

<script>
    const criminalUrl = "{% url 'voiture_noire:brand_as_criminal' author_profile.id %}"
    
    async function handleCriminality() {
        const response = await fetch(
            criminalUrl, {
                method: "GET",
            }
        )

        if (response.ok) {
            const checkbox = document.getElementById("criminal-switch")
            const authorH2 = document.getElementsByClassName("h2-blue-title")[0] 
            const subtitle = document.getElementById("your-crimes")

            if (checkbox.checked) {
                subtitle.innerHTML = "Vos crimes"
                authorH2.innerHTML = "Profil de criminelle/criminel"
            } else {
                subtitle.innerHTML = "Vos œuvres"
                authorH2.innerHTML = "Profil d'autrice/d'auteur"
            }

        } else {
            throw new Error(`Response status: ${response.status}`);            
        }
    }
</script>