{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/gadgets_index.css">
<link rel="stylesheet" href="/static/gadgets_modal.css">
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
{% endblock %}

{% block title %}
Coquecigrues
{% endblock %}

{% block content %}
<h1
    class="h1-gadgets"
    id="gadgets-title"
    >Coquecigrues : trucs, gadgets et machins</h1>

<section class="gadgets-section">
    <!-- <img
    class="gadgets-illustration"
    src="/static/images/bimbimka_feather-ai2.svg"
    alt="Illustration de plume étrange"
    > -->

    <article class="gadget-disclaimer">
        <p>
            La section gadget a pour objectif de partager deux types de choses : les outils et ressources 
            d'écriture que je trouve chouettes et le nonsense absolu que je m'amuse parfois à coder.
        </p>
        <p>
            Vous êtes prévenus.
        </p>
    </article>

    <article>
        <h2 class="gadget-subtitles">Littératurages & productivité</h2>

        <ul>
            <li>
                <p><span>Relecture</span> : 
                <a href="https://extensions.libreoffice.org/en/extensions/show/grammalecte">Grammalecte</a> est une extension gratuite mais vitale pour 
                LibreOffice, la petite sœur prodige d'OpenOffice. Non seulement elle vérifie l'orthographe et la grammaire à un niveau supérieur
                 à celui de Google Doc, mais en plus elle s'occupe d'harmoniser votre ponctuation et vos paragraphes comme vous le souhaitez,
                  repère répétition ou pléonasme... Bref, une invention divine.</p>
            </li>
            <li>
                <p><span>Productivité</span> : 
                <a href="https://gottcode.org/focuswriter/">FocusWriter</a> est un logiciel d'écriture qui
                se concentre sur l'essentiel : votre texte et votre productivité. Le mode plein écran est tout spécialement efficace, et vous 
                pouvez vous mettre des objectifs en mots ou en temps passé ! Un calendrier vous laisse suivre les jours où vous avez atteint vos 
                objectifs.<br>
                Le bonus : vous pouvez choisir un fond d'écran ou opter pour faire des bruits de machine à écrire quand vous tapez. Es-sen-tiel.</p>
            </li>
            <li>
                <p><span>Édition</span> :
                    si vous avez pour ambition d'être publiée dans le monde de l'édition traditionnelle, le site 
                    <a href="https://textes-a-la-pelle.fr/">Textes à la pelle</a> est là pour vous ! Spécialisé dans les concours ou appels à texte,
                     il permet de trier les appels disponibles par date d'ajout ou de rendu et de découvrir d'incroyables noms de patelins.
                </p>
            </li>
        </ul>
    </article>

    <article>
        <h2 class="gadget-subtitles">Gaies inepties</h2>
        <ul>
            <li>
                <button
                    id="character-sorter-btn"
                    type="button"
                    onclick="displayCharSorterModal()"
                >
                    Le trieur de blorbos
                </button>
                <p>Entrez une liste de personnage et laissez notre IA ultraperformante
                les trier par degré de babygirlitude/boywifitude/etc.</p>
            </li>
        </ul>
                <ul>
            <li>
                <a href="{% url 'gadgets:ecritoire' %}">
                    L'écritoire
                </a>
                <p>
                    Organisez une session d'écriture en solo. Gardez le compte de vos mots et du temps
                    réellement travaillé. 
                </p>
            </li>
        </ul>
    </article>
    {% include "./modalCharSorter.html" %}

    <!-- <details>
        <summary>
            <button id="prompt-btn">Le filtreur de thèmes</button>
        </summary>
        <p>
            Le filtreur de prompt vise à aider à filtrer les thèmes listés dans 
            les tagsets originaux d'AO3.
        </p>
        <p>
            À titre d'exemple, vous pouvez utiliser les tagsets de 
            <a href="https://archiveofourown.org/tag_sets/16669">Fic in a Box 2023</a>,
            <a href="https://archiveofourown.org/tag_sets/20326">FFFX24</a>,
            <a href="https://archiveofourown.org/tag_sets/16279">FFFX23</a>,
            <a href="https://archiveofourown.org/tag_sets/12096">FFFX22</a>,
            <a href="https://archiveofourown.org/tag_sets/19846">Rare Male Slash Exchange</a>,
            <a href="https://archiveofourown.org/tag_sets/11190">Rare Male Slash Exchange 2022</a>,
            <a href="https://archiveofourown.org/tag_sets/15631">Rare Male Slash Exchange 2023</a>,
            <a href="https://archiveofourown.org/tag_sets/20086">Relationshipping 2024</a>,
            <a href="https://archiveofourown.org/tag_sets/16171">Relationshipping 2023</a>,
            <a href="https://archiveofourown.org/tag_sets/20122">Ennemies to Lover 2024</a>,
            <a href="https://archiveofourown.org/tag_sets/14770">Fandom5k2022</a>...
        </p>

    </details>
    <details>
        <summary><a href="">L'appaireur </a></summary>
        Jouez les Cupidon en apparairant des personnages de 
        Jujutsu Kaisen. Questionnez-vous sur mon degré de 
        temps libre.
    </details> -->
    <script>
        function displayCharSorterModal() {
            console.log("aaaaaaa")
            document.getElementById('char-sorter-modal').style.display = "flex";
        }
    </script>
</section>
{% endblock %}