{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/gadgets_index.css">
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
<h1
    class="h1-gadgets"
    id="gadgets-title"
    >Coquecigrues : trucs, gadgets et machins</h1>

<section class="gadgets-section">
    <img
    class="gadgets-illustration"
    src="/static/images/bimbimka_feather-ai2.svg"
    alt="Illustration de machine à écrire"
    >


</section>
{% endblock %}