@import "./base.css";


.library-page {
    display: flex;
    flex-flow: column;

}

.library-page-blurb {
    text-align: justify;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 2em;
}

.library-page-link {
    align-self: end;

    margin-right: 1em;
    margin-bottom: 2em;
    padding: 10px;
    background-color: var(--misty-blue);
    color: var(--puce);
    border: 3px double var(--midnight-blue);
    width: fit-content;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

    font-size: large;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        filter: brightness(110%)
    }
}

/********** ARTICLE HANDLING */
.article-story-title {
    margin-top: 0;
    margin-bottom: 0.2em;
    color: var(--puce);
    text-decoration: none;

    a {
        cursor: pointer;
    }

    .author-name {
        font-size: large;
        font-style: italic;
        color: var(--midnight-blue);
    }
}

.article-story-date {
    text-align: end;
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
}
.article-story-admin-details {
    margin-top: 0;
    margin-bottom: 0.2;
    font-size: 0.9em;
}

.story-summaries {
    text-align: justify;

}

.article-story-categ-name {
    font-weight: bold;
}

.hr-separator-story-articles {
    color: var(--ivory);
    width: 90%;
}

@media screen and (max-width: 750px) {
    .hr-separator-story-articles {
        margin-top: 1.5em;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 751px) {
    .hr-separator-story-articles {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}