@import "./base.css";

.discord-member-profile {
    display: flex;
    flex-flow: column;

    label {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
}


/***************** AUTHOR-SPECIFIC SESSION */
.subtitle-section-profile {
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    text-decoration: underline;
}

.div-profile-criminal {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    line-height: 1.15em;
    color: var(--cool-gray);
}

.p-library-page-link {
    text-align: right;
}

.library-page-link {
    align-self: end;

    margin-right: 1em;
    margin-bottom: 2em;
    padding: 10px;
    background-color: var(--misty-blue);
    color: var(--puce);
    border: 3px double var(--midnight-blue);
    width: fit-content;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

    font-size: large;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        filter: brightness(110%)
    }
}
/************** GENERAL SECTION BLOCK (author and discord */
.section-profile {
    display: flex;
    flex-flow: column;

    .hr-section-profile {
        margin-bottom: 3.5em;        
    }

    .article-story {
        margin-left: 3vw;
        margin-right: 3vw;    
    }

    summary {
        list-style: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
    display: none
    }
    
    summary::after {
    content: ' ►';
    }

    &[open] summary:after {
        content: " ▼";
    }
}

.quill-input {
    .ql-editor {
        border: 1px solid var(--puce);
        filter: drop-shadow(1px 1px 2px var(--nude));
        border-radius: 2px;
        min-height: 200px;
        background-color: white;
        font-size: medium;
    }
}

.ql-toolbar {
    background-color: var(--nude);
    border: 1px solid var(--puce);
    filter: drop-shadow(1px 1px 2px var(--jet-black));

    .ql-formats {
        height: 1.5em;
        padding: 0 15px 0 15px !important;

        button {
            padding: 8px;
            margin: 0;
        }    
    }
}

.error-messages {
    color: darkred;
    text-align: justify;
    margin: none;

    li {
        list-style: none;
        font-style: italic;
    }
}

.p-character-counter {
    margin-top: 0.2em;
    margin-right: 10px;
    text-align: right;
    font-size: small;
}

.limit-reached {
    color: darkred;
    font-weight: bold;
}