{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/about.css">
{% endblock %}

{% block title %}
Sen Senestre, Autrice M/M & fantasy, Procrastrinatrice Professionnelle
{% endblock %}

{% block content %}

<h1 hidden id="about-title">À propos</h1>

    <section class="bibliography">
        <div class="bibliography-block-title">
            <h2 class="h2-writer">Bibliographie</h2>
            <img
                class="img-about-sections"
                src="/static/images/macrovector_bookshelf.svg"
                alt="Illustration figurant une rangée de livres"
            >    
        </div>

        <h3>Collectif Aquilegia</h3>
        <ul class="list-books">
            <li><em>Les Cendres de l'Hiver</em> (trilogie hybride texte/BD, avec <a href="https://www.instagram.com/eldarianne/">Eldarianne</a>)</li>
            <li>Collection <em>Nemesis</em> : <em>L'Homme Noyé, Vivarium, Purusha, Vindicte</em>.</li>
            <li><em>Ceux Qui Servent</em> (recueil de nouvelles/roman, avec <a href="https://www.instagram.com/eldarianne/">Eldarianne</a>).</li>
            <li><em>Contes du Miroir Brisé</em> (recueil de nouvelles).</li>
            <li><em>Contes de l'Aube Écarlate</em> (recueil de nouvelles, avec Lev).</li>
            <li><em>Pépin</em> (roman).</li>
            <li><em>Princes de Sang</em> (roman).</li>
        </ul>

        <h3>Lointain passé (Fictionpress)</h3>
        <ul class="list-books">
            <li><em>L'Aigle et le Safran</em> (roman)</li>
            <li><em>Vincent le Vampire</em> (roman).</li>
            <li>Quelques nouvelles plus ou moins assumables.</li>
        </ul>
    </section>

    <section class="biography">
        <h2 class="h2-writer my-name">Sen Senestre</h2>
        <img
            class="img-about-sections"
            src="/static/images/macrovector_open_book.svg"
            alt="Illustration figurant un livre ouvert"
        >
        <p>
            Jadis connue sous le pseudonyme de Corenn, Sen est une femme douée pour choisir des noms
            difficiles à googler et à référencer (et elle en est navrée). Elle parle d'elle à la
            troisième personne pour faire semblant de savoir quoi dire à son propre sujet,
            mais ce n'est qu'un leurre.
        </p>
        <p>
            En tant qu'autrice, mes genres favoris sont les mille nuances du merveilleux :
            fantasy (urban fantasy, dark fantasy, high fantasy...), fantastique, 
            contes détournés ou non... Le tout souvent assorti de M/M, BL, yaoi ou tout 
            autre terme à la mode pour désigner les histoires d'amour gay. J'adore quand le scénario influe
            sur la romance et inversement ; j'aime l'action et le suspense, l'humour et l'horreur,
            les couples conflictuels ou hauts en couleur.
        </p>
        <p>
            J'ai d'abord publié principalement sur Internet (sur feue l'Écurie des Shets — les 
            anciennes sauront ! — et sur Fictionpress) avant d'avoir la chance de joindre le
            collectif Aquilegia. Pendant presque neuf ans, j'y ai publié plusieurs romans et nouvelles
            avant de revenir au format web.
        </p>
    </section>

    <section class="credits">
        <h2 class="h2-writer">Crédits</h2>

        <hr class="credit-hr">
        <ul>
            <li>
                Icône du site par
                <a href="https://fr.freepik.com/vecteurs-libre/collection-plumes-dessinees-main_1159019.htm#&position=25&from_view=author">
                    Bimbimkha</a>.
            </li>
            <li>
                Visuel de cadre de la bannière par
                <a href="https://www.freepik.com/free-vector/elegant-background-with-gold-glittery-frame_26176795.htm#query=gold%20round%20frame&position=1&from_view=search&track=ais">
                    kjpargeter</a>.
            </li>
            <li>
                Visuel de séparation en-dessous de la bannière par <a href="https://www.freepik.com/">Freepik</a>.
            </li>
            <li>
                Visuel de séparation par
                <a href="https://www.freepik.com/free-vector/collection-set-label-ornament-vector-illustration_3374305.htm#query=frame&position=19&from_view=keyword&track=sph">
                    Rawpixel</a>.
            </li>
            <li>
                Illustrations de la page d'accueil et de la page <i>À propos</i> par
                <a href="https://www.freepik.com/free-vector/vintage-book-elements-collection-with-different-books_9397979.htm#query=pen%20vintage&position=7&from_view=search&track=ais">
                    Macrovector</a>.
            </li>
            <li>
                Illustrations de machine à écrire par
                <a href="https://www.freepik.com/free-vector/retro-typewriter-logo-business-corporate-identity-illustration_16326972.htm#query=typewriter&position=0&from_view=search&track=sph">
                    Rawpixel</a>.
            </li>
            <!-- <li>
                Icônes de la page Lire par
                <a href="https://www.flaticon.com/authors/iconpro86">
                    Iconpro86</a>.
            </li> -->
        </ul>
    </section>
    {% endblock %}