{% extends '../base.html' %}

{% block pageTitle %}
Sen Senestre, Autrice M/M & fantasy, Procrastrinatrice Professionnelle
{% endblock %}

{% block content %}

<h1>À propos</h1>

<section class="about">
    <section class="content-block bibliography">

        <h2>Bibliographie</h2>
        <h3>Fics en ligne</h3>
        <p>
            À venir, promis !
        </p>

        <h3>Pour le compte d'Aquilegia</h3>
        <ul class="list-books">
            <li>Les Cendres de l'Hiver (trilogie mêlant romans et BDs, avec Eldarianne)</li>
            <li>Collection Nemesis : L'Homme Noyé, Vivarium, Purusha, Vindicte.</li>
            <li>Ceux Qui Servent (recueil de nouvelles/roman, avec Eldarianne).</li>
            <li>Contes du Miroir Brisé (recueil de nouvelles).</li>
            <li>Contes de l'Aube Écarlate (recueil de nouvelles, avec Lev).</li>
            <li>Pépin (roman).</li>
            <li>Princes de Sang (roman).</li>
        </ul>

        <h3>Lointain passé (Fictionpress)</h3>
        <ul class="list-books">
            <li>L'Aigle et le Safran (roman)</li>
            <li>Vincent le Vampire (roman).</li>
            <li>Quelques nouvelles plus ou moins assumables.</li>
        </ul>
    </section>

    <section class="content-block biography">
        <h2>À propos de Sen Senestre</h2>
        <p>
            Jadis connue sous le pseudonyme de Corenn, Sen est une femme douée pour choisir des noms
            difficiles à googler et à référencer (et elle en est désolée). Elle parle d'elle à la
            troisième personne pour faire semblant de savoir quoi dire à son propre sujet,
            mais ce n'est qu'un leurre.
        </p>
        <p>
            En tant qu'autrice, mes genres favoris sont les mille nuances du merveilleux :
            fantasy (urban fantasy, dark fantasy, high fantasy...), fantastique, 
            contes détournés ou non... Le tout souvent assorti de M/M, BL, yaoi ou tout 
            autre terme à la mode pour désigner les romances gay. J'adore quand le scénario influe
            sur la romance et inversement ; j'aime l'action et le suspense, l'humour et l'horreur,
            les couples conflictuels comme tendres (mais avouons-le : l'enemies to lovers a ma 
            préférence...)
        </p>
        <p>
            J'ai d'abord publié principalement sur Internet (sur feue l'Écurie des Shets - les 
            anciennes sauront ! - et sur Fictionpress) avant d'avoir la chance de joindre le
            collectif Aquilegia. Pendant presque neuf ans, j'y ai publié plusieurs romans et nouvelles
            avant de revenir au format web.
        </p>
        <p>
            Aujourd'hui, je me laisse le temps d'explorer de nouvelles directions et de voir 
            où le vent m'emportera. Plus de nouvelles le 31 janvier 2023 !
        </p>
    </section>

</section>
    {% endblock %}