{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/about.css">
{% endblock %}

{% block title %}
{{ about_author_blurb }}
{% endblock %}

{% block content %}

<h1 hidden id="about-title">À propos</h1>

    <section class="bibliography">
        <div class="bibliography-block-title">
            <h2 class="h2-writer">Bibliographie</h2>
            <img
                class="img-about-sections"
                src="/static/images/macrovector_bookshelf.svg"
                alt="Illustration figurant une rangée de livres"
            >    
        </div>

        {% for category, items in about_author_bibliography.items %}
            <h3>{{ category }}</h3>
            {% for item in items %}
                <li>{{ item|safe }}</li>
            {% endfor %}
        {% endfor %}
    </section>

    <section class="biography">
        <h2 class="h2-writer my-name">{{ about_author_name}}</h2>
        <img
            class="img-about-sections"
            src="/static/images/macrovector_open_book.svg"
            alt="Illustration figurant un livre ouvert"
        >
        {{ about_author_bio |safe }}
    </section>

    <section class="credits">
        <h2 class="h2-writer">Crédits</h2>

        <hr class="credit-hr">
        <ul>
            <li>
                Icône du site par
                <a href="https://www.freepik.com/free-vector/quill-pen-logo-template_33601910.htm#fromView=search&page=1&position=22&uuid=f2dff7fe-4051-429a-b41b-f134a342a7c2&query=inkpot">
                    Freepik</a>.
            </li>
            <li>
                Visuel de cadre de la bannière par
                <a href="https://www.freepik.com/free-vector/elegant-background-with-gold-glittery-frame_26176795.htm#query=gold%20round%20frame&position=1&from_view=search&track=ais">
                    kjpargeter</a>.
            </li>
            <li>
                Visuel de séparation en-dessous de la bannière par <a href="https://www.freepik.com/">Freepik</a>.
            </li>
            <li>
                Visuel de séparation par
                <a href="https://www.freepik.com/free-vector/collection-set-label-ornament-vector-illustration_3374305.htm#query=frame&position=19&from_view=keyword&track=sph">
                    Rawpixel</a>.
            </li>
            <li>
                Illustrations de la page d'accueil et de la page <i>À propos</i> par
                <a href="https://www.freepik.com/free-vector/vintage-book-elements-collection-with-different-books_9397979.htm#query=pen%20vintage&position=7&from_view=search&track=ais">
                    Macrovector</a>.
            </li>
            <li>
                Illustrations de machine à écrire par
                <a href="https://www.freepik.com/free-vector/retro-typewriter-logo-business-corporate-identity-illustration_16326972.htm#query=typewriter&position=0&from_view=search&track=sph">
                    Rawpixel</a>.
            </li>
            <li>
                Son de fin de session par <a href="https://pixabay.com/users/updatepelgo-44563794/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=221935">UpdatePelgo</a> de <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=221935">Pixabay</a>.
            </li>
            <li>
                Flèches de navigation de la page "Pinytree" par 
                <a href="https://www.svgrepo.com/collection/xnix-circular-interface-icons/">
                    Ankush Syal</a>, avec altérations (<a href="https://www.svgrepo.com/page/licensing/#CC%20Attribution">licence</a>).
            </li>
            <li>
                GNU Terry Prathett trouvable <a href="https://github.com/aaronbassett/django-GNU-Terry-Pratchett/issues/3#issuecomment-592188704">ici</a>.
            </li>
            <li>
                Police Libre Baskerville par
                <a href="https://fonts.google.com/specimen/Libre+Baskerville/about?preview.script=Latn">Impallari Type</a>.
            </li>
            <li>
                Police IM Fell par
                <a href="https://fonts.google.com/specimen/IM+Fell+English+SC?preview.script=Latn">Igino Marini </a>.
            </li>
            <li>
                Police IM Fell Double Pica par
                <a href="https://fonts.google.com/specimen/IM+Fell+Double+Pica?preview.script=Latn">Igino Marini </a>.
            </li>

            <!-- <li>
                Icônes de la page Lire par
                <a href="https://www.flaticon.com/authors/iconpro86">
                    Iconpro86</a>.
            </li> -->
        </ul>
    </section>
    {% endblock %}