{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/homepage.css">
{% endblock %}

{% block content %}

<section class="content-block news">
    <h1>Aux nouvelles</h1>
    <img
        class="bookstack"
        src="/static/images/macrovector_book_stack.svg"
        alt="Illustration d'une pile de livres"
    >

    <div>
    {% for post in latest_posts %}
    <h2 class="post-date">{{ post.date }}</h2>

    <div class="post-block">
        {% autoescape off %}
        {{ post.body }}
        {% endautoescape %}
    </div>

        <hr>
    {% endfor %}
    </div>
</section>
    {% endblock %}