{% extends '../base.html' %}
{% block content %}

<section id="homepage-intro" class="content-block">
<p>
    Bienvenue ! Je suis Sen, une autrice de romans et nouvelles mêlant yaoi et fantasy - de l'urban fantasy au merveilleux en passant
    par la parodie ou l'horreur.
</p>
</section>

<section class="content-block news">
    <h1>Quoi de neuf ? (20/12/2022)</h1>
    <h2>Pourquoi ce site ?</h2>
    <p>Comme vous l'avez peut-être lu, Aquilegia n'est plus. Le monde n'étant hélas pas prêt à accueillir des romans en bonhomme bâtonnet (QUOIQUE... ??),
    j'ai donc décidé de construire un site où héberger mes projets : romans, nouvelles, et qui sait ? Peut-être visual novels (mais sans visual, du coup).</p>

    <h2>Projets d'avenir</h2>
    <p>Soyons honnêtes : pour l'instant, je compte me remettre doucement de la fin de neuf ans de projet et d'enthousiasme.
    J'ai quelques projets en tête, mais rien de concret pour le moment.
    Je vous invite donc à nous revoir le <strong>21 janvier</strong> pour plus de nouvelles, voire un peu de lecture !</p>

    <h2>Vous avez des questions, des projets de collaboration...</h2>
    <p>Je vous invite à me contacter par
        <a href="https://www.instagram.com/sen_senestre/">Instagram</a> ou 
        sur gmail à @sentheseventh.</p>

    <h2>Le mot de la fin</h2>
    <p>Merci beaucoup pour votre attention ! Et pour lire, c'est <a href="">ici</a>.</p>
</section>
    {% endblock %}