{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/homepage.css">
{% endblock %}

{% block content %}

<section class="content-block news">
    <h1>Aux nouvelles</h1>

    <div>
    {% for post in latest_posts %}
    <h2 class="post-date">{{ post.date }}</h2>

    <div class="post-block">
        <img 
        class="img-feather"
        src="/static/images/bimbimka_feather-ai2.svg"
        alt="Un dessin de plume composite en noir et blanc"
        >

        {% autoescape off %}
        {{ post.body }}
        {% endautoescape %}
    </div>

        <hr>
    {% endfor %}
    </div>
</section>
    {% endblock %}