@import "../voiture_noire/base.css";


.library-page {
    display: flex;
    flex-flow: column;

    p {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
}

.library-page-blurb {
    text-align: justify;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 2em;
}

.library-page-link {
    align-self: end;

    margin-right: 1em;
    margin-bottom: 2em;
    padding: 10px;
    background-color: var(--misty-blue);
    color: var(--puce);
    border: 3px double var(--midnight-blue);
    width: fit-content;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

    font-size: large;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        filter: brightness(110%)
    }
}

#story-filter-form {
    display: flex;
    flex-flow: column;
}

#story-filter-form-body {
    line-height: normal;
    .keep-capslocked {
        display: block;
        text-align: center;
    }

    label:not(.keep-capslocked) {
        text-transform: capitalize;
        font-weight: 100;
    }

    input {
        margin-right: 5px;
    }
    
    .multiple-choices-with-overflow div {
        max-height: 6em;
        overflow: scroll;
        padding-right: 10px;

        div {
            padding-left: 5px;
            border-bottom: 1px var(--ivory) dotted;
        }
    }
}
#random-rec {
    background-color: var(--misty-blue);
    color: var(--jet-black);
    margin: 0px 2vw 4vh 2vw;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    text-wrap: wrap;
    hyphens: auto;
}


/* RESPONSIVE */
@media screen and (max-width: 500px){
    #story-filter-form-body {
        margin-left: 5vw;
        display: flex;
        flex-flow: column;
    }
}

@media screen and (min-width: 501px){
    #story-filter-form-body {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1600px){
    #story-filter-form-body {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}