<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="Sen" />
        <meta
            name="keywords"
            content="BL, FL, yuri, yaoi, queer fantasy"
        />
        <meta
            name="description"
            content="{% block page_desc %}Vous trouverez ici les textes des autrices et auteurs de la Petite Voiture Noire, serveur LGBT+.{% endblock %}"
        />

        <title>
            {% block title %} La Petite Voiture Noire | Archives de textes queer {% endblock %}
        </title>
        {% block stylesheet %}
        <link rel="stylesheet" href="/static/base.css" />
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+Double+Pica:ital@0;1&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <nav class="banner-voiture-noire">
            <ul>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Se connecter</a></li>
                {% else %}
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Se déconnecter</button>
                        </form>
                    </li>
                    <li><a href="{% url 'voiture_noire:index' %}">Bibliothèque</a></li>
    
                    {% if user.exchange_participant %}
                        <li><a href="{% url 'voiture_noire:prompts' %}">Thèmes</a></li>
                    {% endif %}

                    {% if user.discord_id != "" %}
                        <li><a href="{% url 'voiture_noire:everyone' %}">Membres</a></li>
                    {% endif %}

                    <li><a href="{% url 'voiture_noire:profile' %}">Paramètres</a></li>
                {% endif %}

                </ul>

            {% if user.is_authenticated %}
                <p id="welcome-blurb">Bienvenue, <b>{{ user.username }}</b> !</p>
            {% endif %}
        </nav>
        
        <main>{% block content %} {% endblock %}</main>
    </body>

    <script>
        const isLogged = '{{ user.is_authenticated }}'
        const title_blur = '{{ user.title_blur }}'
        const colourScheme = '{{ user.colour_scheme }}'
        const serif = '{{ user.serif }}'

        window.onload = (event) => {
            if (title_blur === 'False' && isLogged === 'True') {
                const mayBeBlurred = document.querySelectorAll('h1, h2, label')

                for (let item of mayBeBlurred) {
                    item.classList.add("no-shadow-no-blur")
                }
            }

            if (colourScheme === 'dark') {
                switchToNightMode()
            }

        };

        function switchToNightMode() {
            const body = document.querySelector('body')

            body.style.setProperty('--jet-black', '#D1BFA6');
            body.style.setProperty('--midnight-blue', '#B0BFC2');
            body.style.setProperty('--main-bg-colour-clear', '#252525');
            body.style.setProperty('--ivory', '#4C6585');
            body.style.setProperty('--nude', '#4C6585')
            body.style.setProperty('--beige', '#4C6585')
            body.style.setProperty('--misty-blue', '#4C6585')
            body.style.setProperty('--puce', '#CCB4A9')
        }
    </script>
</html>
