{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire.css">
{% endblock %}

{% block title %}
    La bibliothèque de la Petite Voiture Noire
{% endblock %}

{% block content %}
<noscript>
    <div class="javascript-warning">
        Ce site requiert javascript pour fonctionner correctement. Désolée !
    </div>
</noscript>

<h1>La Bibliothèque de la Petite Voiture Noire</h1>

<section>
    <p>Vous trouverez ici les œuvres de nos auteurs et autrices classées par...</p>
</section>
{% endblock %}