{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/library.css">
{% endblock %}

{% block title %}
    La bibliothèque de la Petite Voiture Noire
{% endblock %}

{% block content %}
<noscript>
    <div class="javascript-warning">
        Ce site requiert javascript pour fonctionner correctement. Désolée !
    </div>
</noscript>

<h1>Une Petite Voiture Noire</h1>

<hr>

<section class="library-page">
    {% if user.is_authenticated %}
        <a
            class="library-page-link" 
            href="{% url 'archives:story_publish' %}"
        >Publier</a>
    {% endif %}

    <div class="library-page-blurb">
        <p>
            Pour lire les récits des membres du serveur ! Veuillez noter que tout ceci est en
            <b>bêta</b> donc n'allez pas poster vos fics sans les sauvegarder, de grâce.
        </p>
        <p>
            Vous avez lu une histoire et l'avez aimée ? Dites-le ! Je préfère ne pas mettre
            de fonction Commenter, mais n'hésitez pas à poster dans #lectures ou à aller 
            complimenter directement l'autrice/l'auteur.
        </p>
    </div>
    {% for fic in fics %}
        <article class="article-story">
            <p class="article-story-date">{{ fic.date }}</p>
            <div class="div-story-header-block">
                <h2 class="article-story-title">
                    <a href="{% url 'archives:story_read_mode' fic.id 1 %}">
                        {{ fic.fic_title }}</a>
                    <span class="author-name">par {{ fic.author }}</span>
                </h2>
    
                {% if fic.author.member == user %}
                <div class="div-story-title-buttons">
                    <a
                        class="article-story-btn"
                        href="{% url 'archives:story_edit_mode' fic.id %}"
                        aria-label="Éditer l'histoire"
                        title="Éditer l'histoire"
                    >
                        <img src="/static/images/pen-line-svgrepo-com.svg">
                    </a>
                    <a
                        class="article-story-btn"
                        href="{% url 'archives:chapter_post_mode' fic.id %}"
                        aria-label="Ajouter un chapitre"
                        title="Ajouter un chapitre"
                    >+</a>
                </div>
            {% endif %}

            </div>

            <div class="story-administration">
                <p class="article-story-admin-details">
                    {% if fic.pairing_type.all.length == 0 %}
                        Général
                    {% else %}
                        {% for pair in fic.pairing_type.all %}
                            {% if pair.pairing_type == "gen" %}
                                Pas de couple
                            {% elif pair.pairing_type == "ff" %}
                                F/F
                            {% elif pair.pairing_type == "mm" %}
                                M/M
                            {% elif pair.pairing_type == "het" %}
                                Hétéro
                            {% elif pair.pairing_type == "oth" %}
                                Autre
                            {% else %}
                                Sen, à l'aide
                            {{ pair.pairing_type }}
                            {% endif %}

                            {% if not forloop.last %}
                            &
                            {% endif %}
                            <!-- TODO : HANDLE LAST, SAME AS SUPPORTER -->
                        {% endfor %}
                    {% endif %} ❖
                    {{ fic.text_length.capitalize }} ❖

                    {% if fic.rating == "g" %}
                        Tout public
                    {% elif fic.rating == "t" %}
                        Public averti
                    {% elif fic.rating == "e" %}
                        Public averti
                    {% else %}
                        Au secours, Sen
                    {% endif %}
                    ❖

                    {% if fic.complete %}
                        <span class="span-story-finished">ACHEVÉ</span>
                    {% else %}
                    <span class="span-story-ongoing">En cours</span>
                    {% endif %}
                </p>
            </div>
            
            <div class="story-summaries">
                    {% autoescape off %}
                        {{ fic.summary }}
                    {% endautoescape %}
                </div>
                {% if fic.pairing_archetype != '' %}
                    <p>
                        <span class="article-story-categ-name">Le(s) couple(s) :</span>{{ fic.pairing_archetype }}
                    </p>
                {% endif %}
                {% if fic.one_sentence_summary != '' %}
                <p>
                    <span class="article-story-categ-name">En quelques mots :</span>{{ fic.one_sentence_summary }}
                </p>
            {% endif %}
            </div>
            {% if fic.chapters.all.count > 1 %}
            <div class="story-chapters">
                {% for chapter in fic.chapters.all %}
                    <a
                        class="article-story-btn"
                        href="{% url 'archives:story_read_mode' fic.id chapter.number %}"
                    >
                    {{ chapter.number }}
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </article>

        <hr class="hr-separator-story-articles">
    {% endfor %}
</section>
{% endblock %}