{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/library.css">
<link rel="stylesheet" href="/static/voiture_noire/story-cards.css" />
{% endblock %}

{% block title %}
    La bibliothèque de la Petite Voiture Noire
{% endblock %}

{% block content %}
<noscript>
    <div class="javascript-warning">
        Ce site requiert javascript pour fonctionner correctement. Désolée !
    </div>
</noscript>

<h1>Une Petite Voiture Noire</h1>

<hr>

<section class="library-page">
    {% if user.is_authenticated %}        <a
            class="library-page-link" 
            href="{% url 'archives:story_publish' %}"
        >Publier</a>
    {% endif %}

    <div class="library-page-blurb">
        <p>
            Cette page a pour but de partager les récits des membres du serveur Petite Voiture Noire !
            Nous explorons un peu tous les genres : fantasy, science-fiction, contemporain... Très souvent 
            dans les registres du M/M et du F/F, mais pas que.
        </p>
        <p>
            Vous avez lu une histoire et l'avez aimée ? Si vous êtes membres du serveur, n'hésitez pas à le 
            dire ! Je préfère ne pas mettre de fonction Commenter, mais n'hésitez pas à poster dans #lectures 
            ou à aller complimenter directement l'autrice/l'auteur.
        </p>
    </div>
    {% for story in fics %}
        {% include './story_card.html' %} 
    {% endfor %}

    <dialog id="story-delete-modal">
        <h3 id="story-delete-title">This modal dialog has a groovy backdrop!</h3>
        <div class="story-delete-btn-div">
            <a class="story-delete-yes"
                href="deleteItem({{ story.id }})">Oui.</a>
            <button 
                class="story-delete-no"
                type="button"
                onclick="closeStoryDeleteModal()"
            >Noooon !! ):</button>
        </div>
    </dialog>
</section>

<script>
    const deleteStoryUrl = "{% url 'archives:delete_story' 0 %}"
    // LUCILE : puis additionner à story_id 
    let deleteDialog = document.getElementById("story-delete-modal");
    
    function showDeleteModal(btn, elementName) {
        const elementId = btn.dataset.elementId;
        const storyTitle = btn.dataset.storyTitle;
        const deleteDialog = document.getElementById(`${elementName}-delete-modal`);
        const deleteDialogTitle = document.getElementById(`${elementName}-delete-title`)
        const deleteLink = deleteDialog.getElementsByClassName("story-delete-yes")[0]

        deleteDialogTitle.innerHTML = `Êtes-vous certain.e de vouloir supprimer ${storyTitle} ?`
        deleteLink.href = prepareUrlDeleteItem(elementName, elementId)
        deleteDialog.showModal()
    }

    function closeStoryDeleteModal() {
        const deleteDialog = document.getElementById("story-delete-modal");
        deleteDialog.close()
    }

    function prepareUrlDeleteItem(elementName, item_id) {
        let url;

        if (elementName == "story") {
            url = deleteStoryUrl.slice(0, -1)
            url += item_id
        } else {
            url = deleteChapterUrl.slice(0, -1)
            url += item_id
        }
        
        return url;
    }
</script>
{% endblock %}