{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/member_list.css">
{% endblock %}

{% block title %}
    Membres de la Petite Voiture Noire
{% endblock %}

{% block content %}

<h1>Tout le monde, et le reste</h1>

<hr>

<section class="member-list">
    {% for profile in DiscordProfiles %}
        <section class="card-member-profile">
            <h2>{{ profile.member.username }}</h2>
            <hr>
            <h3>AIME :</h3>
                {{ profile.likes | safe }}
            <h3>N'AIME PAS :</h3>
                {{ profile.dislikes | safe}}
            <h3>INTÉRESSÉ.E PAR :</h3>
                <ul>
                    {% for prompt in profile.member.prompt_set.all|dictsort:"pairing_type" %} 
                        <li>
                            <b>{{ prompt.get_pairing_type_display }}</b> : {{prompt.body}}
                        </li>
                    {% endfor %}
                </ul>
        </section>

    {% endfor %}
</section>
{% endblock %}

