{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/member_list.css">
{% endblock %}

{% block title %}
    Membres de la Petite Voiture Noire
{% endblock %}

{% block content %}

<h1>Tout le monde, et le reste</h1>

<hr>

<section class="member-list">
    {% for profile in DiscordProfiles %}
    <!-- NOTE : faire une petite carte de membre -->
     <!-- Option pour copier d'un clic -->
        <section class="card-member-profile">
            <h2>{{ profile.member.username }}</h2>
            <hr>
            <h3>Aime :</h3>
                <p>{{ profile.likes }}</p>
            <h3>N'aime pas :</h3>
                <p>{{ profile.dislikes }}</p>
            <h3>Intéressé.e par :</h3>
                <ul>
                    {% for prompt in profile.member.prompt_set.all|dictsort:"pairing_type" %} 
                        <li>
                            <b>{% if prompt.pairing_type == 'FF' %}
                                F/F
                            {% elif prompt.pairing_type == 'MM' %}
                                M/M
                            {% elif prompt.pairing_type == 'FM' %}
                                F/M
                            {% elif prompt.pairing_type == 'ANY' %}
                                N'importe
                            {% elif prompt.pairing_type == 'ETC' %}
                                Autre
                            {% elif prompt.pairing_type == 'GEN' %}
                                Général
                            {% endif %}
                            </b>
                            : {{prompt.body}}
                        </li>
                    {% endfor %}
                </ul>
        </section>

    {% endfor %}
</section>

<!-- <script>
    // À supprimer si flemme
    document.addEventListener("DOMContentLoaded", function() {
        console.log('aarjh')
        let allCards = document.getElementsByClassName("card-member-profile")
        allCards = Array(allCards)
        // Alas, copilot
        allCards.forEach(card => {
            console.log('))):')
            title = card.getElementsByTagName('h2')[0]
            title.scrollIntoView({ behavior: "instant", block: "start" });
        });
    });

</script> -->
{% endblock %}

