{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/profile.css">
<link rel="stylesheet" href="/static/voiture_noire/story-cards.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
{% endblock %}

{% block title %}
    La Petite Voiture Noire | Votre profil
{% endblock %}

{% block content %}
    <noscript>
        <div class="javascript-warning">
            Ce site requiert javascript pour fonctionner correctement. Désolée !
        </div>
    </noscript>

    <h1>{{ user.username.capitalize }} | Votre profil</h1>

    <hr>

    {% if messages %}
        <ul class="error-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <details class="section-profile">
        <summary>
            <h2 class="h2-blue-title">❧ Paramètres du site</h2>
        </summary>

        <form method="post" id="admin_form" class="form-profile">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-profile-item">
                    <label for="id_colour_scheme">Thème couleur</label>
                    {{ admin_form.colour_scheme }}
                </div>
                <div class="form-profile-item">
                    <label for="id_title_blur">Effets titres</label>
                    {{ admin_form.title_blur }}
                </div>
                <div class="form-profile-item">
                    {% if user.discord_id != "" %}
                        <label for="id_birthday">Votre anniversaire</label>
                        <div>{{ admin_form.birthday }}</div>
                    {% endif %}
                </div>

                <input type="hidden" name="form_type" value="admin">
            </div>

            <button type="submit">Enregistrer</button>
        </form>
    </details>

    {% if author_profile %}
        {% include "./profiles/author.html" %}
    {% endif %}

    {% if user.exchange_participant %}
        {% include "./profiles/exchange_profile.html" %}
    {% endif %}

{% endblock %}