{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/profile.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
{% endblock %}

{% block title %}
    Votre profil
{% endblock %}

{% block content %}
<noscript>
    <div class="javascript-warning">
        Ce site requiert javascript pour fonctionner correctement. Désolée !
    </div>
</noscript>

<h1>{{ user.username.capitalize }} | Votre profil</h1>

<hr>

<section>
    <p>Ici, vous pouvez configurer vos goûts afin :</p>
    <p>
        1. de vous faciliter la vie durant les échanges en
         les gardant de côté ;
    </p>
    <p>
         2. de permettre à autrui
        de vous offrir, potentiellement, des dessins ou des fics. 
    </p>
</section>

<form method="post" class="discord-member-profile form-main">
    {% csrf_token %}
    <label for="id_likes">Vous aimez :</label>
    <div id="editor-container-likes" class="quill-input">
    </div>
    <div hidden>{{ form.likes }}</div>

    <label for="id_dislikes">Vous détestez :</label>
    <div id="editor-container-dislikes" class="quill-input">
    </div>
    <div hidden>{{ form.dislikes }}</div>
    <button type="submit">Valider</button>
</form>

<script>
    let quillLikes = new Quill('#editor-container-likes', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline','strike', 'link', { 'list': 'ordered'}, { 'list': 'bullet' }],
            ]
        },
        placeholder: '',
        theme: 'snow'
    });

    quillLikes.on('text-change', function(delta, source) {
	    updateHtmlOutput()
    })

    function updateHtmlOutput() {
        let html = getQuillHtml();
        document.getElementById('id_likes').innerText = html;
    }

    function getQuillHtml() { return quillLikes.root.innerHTML; }

    /////// SECOND QUILL EDITOR
    let quillDislikes = new Quill('#editor-container-dislikes', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline','strike', 'link', { 'list': 'ordered'}, { 'list': 'bullet' }],
            ]
        },
        placeholder: '',
        theme: 'snow'
    });

    quillDislikes.on('text-change', function(delta, source) {
	    updateHtmlOutputDislikes()
    })

    function updateHtmlOutputDislikes() {
        let html = getQuillHtmlDislikes();
        document.getElementById('id_dislikes').innerText = html;
    }

    function getQuillHtmlDislikes() { return quillDislikes.root.innerHTML; }
</script>
{% endblock %}