{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/profile.css">
<link rel="stylesheet" href="/static/voiture_noire/story-cards.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
{% endblock %}

{% block title %}
    Votre profil
{% endblock %}

{% block content %}
    <noscript>
        <div class="javascript-warning">
            Ce site requiert javascript pour fonctionner correctement. Désolée !
        </div>
    </noscript>

    <h1>{{ user.username.capitalize }} | Votre profil</h1>

    <hr>

    <!-- LUCILE : separate author and discord member -->
    {% if author_profile.member.discord_profile.is_creator %}
        {% include "./profiles/author.html" %}
    {% else %}


    {% if author_profile.member.discord_profile.is_creator %}
        {% include "./profiles/author.html" %}
    {% else %}
        <p>Vous n'avez hélas pas de profil, car ce serveur pratique une discrimination SCANDALEUSE.</p>
    {% endif %}

    {% if messages %}
        <ul class="error-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>✧ Et si vous avez envie de lire, pourquoi ne pas tenter la recommandation du Saint Algorithme : 
        <strong>
            ˚₊‧✩‧₊˚ <a href="{% url 'archives:read_story' random_rec.id 1 %}">{{random_rec.story_title }}</a> ˚₊‧✩‧₊˚ ,
            de {{ random_rec.author }} !
        </strong>
    </p>
    <p><strong>Résumé :</strong></p>
        {{ random_rec.summary|safe }}
{% endblock %}