{% extends './base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/prompts.css">
{% endblock %}

{% block title %}
    Les thèmes de la Petite Voiture Noire
{% endblock %}

{% block content %}
<h1>Nos thèmes</h1>

<hr>

<section class="prompt-handler">
    <!-- <p>Les thèmes peuvent être choisis par type de couple ou par demandeur.</p> -->
    <details class="detail-prompt-post">
        <summary>
          Proposer un thème
        </summary>

        <form method="post" action="{% url 'voiture_noire:post_prompt' %} "class="form-prompt-post form-main">
            {% csrf_token %}
            <label for="id_likes">Type :</label>
            {{ form.pairing_type }}
            <label for="id_dislikes">Thème :</label>
            {{ form.body }}
            <button type="submit">Envoyer</button>
        </form>    
    </details>

        <!-- <p>Les thèmes peuvent être choisis par type de couple ou par demandeur.</p> -->
    <section class="section-prompt-list">
        <h2 class="h2-prompt-table">Les thèmes</h2>

        <p class="p-prompt-table-explanation">
            Les thèmes peuvent être triés par type de couple, par demandeur, par ordre alphabétique
            (chacun ses fantasmes) et, enfin, par s'ils sont ou non dans vos requêtes.
        </p>

        <table class="table-prompt-list">
            <tr>
                <th class="prompt-type">
                    <form method="post" class="form-prompt-table-sorter">
                        {% csrf_token %}
                        <input type="text" hidden name="sort_value" value="pairing_type">
                        <button type="submit">⇓ Type</button>
                    </form>
                </th>
                <th class="prompt-body">
                    <form method="post" class="form-prompt-table-sorter">
                        {% csrf_token %}
                        <input type="text" hidden name="sort_value" value="body">
                        <button type="submit">⇓ Thème</button>
                    </form>
                </th>
                <th class="prompt-would_create">
                    <form method="post" class="form-prompt-table-sorter">
                        {% csrf_token %}
                        <input type="text" hidden name="sort_value" value="would_create">
                        <button type="submit">⇓ Veulent créer</button>
                    </form>
                </th>
                <th class="prompt-button">
                    <form method="post" class="form-prompt-table-sorter">
                        {% csrf_token %}
                        <input type="text" hidden name="sort_value" value="user_likes">
                        <button type="submit">⇓⇓⇓</button>
                    </form>
                </th>
            </tr>
            {% for prompt in prompt_list %}
            <tr>
                <td class="prompt-type">
                    {{ prompt.get_pairing_type_display }}
                </td>
                
                <td class="prompt-body">
                    {{ prompt.body }}
                </td>

                <td class="prompt-would_create">
                    {% for person in prompt.would_create.all %}
                        {% if forloop.last %}
                            {{ person.username.capitalize }}
                        {% else %}
                            {{ person.username.capitalize }},
                        {% endif %}

                    {% endfor %}
                </td>

                <td class="prompt-button">
                    {% if user in prompt.would_create.all %}
                        <form
                            class="form-favourite-logic"
                            action="{% url 'voiture_noire:unfavourite' prompt.id %} "
                            method="post"
                        >
                            {% csrf_token %}
                            <button type="submit" titre="Retirer des favoris">💔</button>
                        </form>
                    {% else %}
                        <form 
                            class="form-favourite-logic"
                            action="{% url 'voiture_noire:favourite' prompt.id %} "
                            method="post"
                        >
                            {% csrf_token %}
                            <button type="submit" title="Ajouter aux favoris">💛</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</section>

<script>
    const userName = "{{ request.user.username }}"

    document.addEventListener("submit", function (e) {
        const submittedForm = e.target
        const btn = e.submitter;

        if (submittedForm.classList.contains("form-favourite-logic")) {
            e.preventDefault();
            switchFavBtns(btn)
            handleFormLogic(submittedForm)
            handleSupporterNames(e.target)
        }
    });
    
    async function handleFormLogic(form) {
        const formData = new FormData(form);
        const response = await fetch(
            form.action, {
                method: form.method,
                body: formData,
            }
        )

        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }
    }

    function switchFavBtns(btn) {
        colour = btn.innerText
        const heart = colour === "💛"? "💔": "💛"
        btn.innerText = heart
    }

    function handleSupporterNames(form) {
        const parentCell = form.parentElement;
        const supporterCell = parentCell.previousSibling.previousSibling
        let would_createList = supporterCell.innerText

        if (would_createList.includes(userName)) {
            const commaAfter = userName + ", "
            const commaBefore = ", " + userName

            would_createList = would_createList.replace(commaAfter, "")
            would_createList = would_createList.replace(commaBefore, "")
            would_createList = would_createList.replace(userName, "")
        } else {
            const withComma = ", " + userName

            if (would_createList.length === 0) {
                would_createList = userName    
            } else {
                would_createList = would_createList + withComma
            }
        }
        
        supporterCell.innerText = would_createList
    }
</script>
{% endblock %}