@import "./base.css";

.archives-index {
    display: flex;
    flex-flow: column;
}

.archives-index h2 {
    margin-left: 0%;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    font-size:x-large;
    text-align: left;
}

.detail_line {
    margin-left: 0%;
    text-indent: 0ch;
    font-size: 0.9em;
}

.img-archives-index {
    align-self: center;
    justify-self: center;
}

.fic_details {
    background-color: #F4F3F1;
    color: #35182b;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    padding: 1em;
    border-radius: 15px;
    border: thick double #4C223D;
    display: flex 1;
    flex-flow: column;
    justify-content: baseline;
    height: fit-content;
    block-size: fit-content;
    
}

.fic_details h2 {
    color: #4C223D;
    margin-top: 1%;
    margin-bottom: 0%;
}

.fic_details a {
    color: #4C223D;
}

.fic_details .detail_line {
    margin: 0%;
}

.fic-date {
    color: #8d3f72;
    text-indent: 0ch;
    font-size: 0.9em;
    font-style: italic;
    margin: 0%;
}

@media screen and (min-width: 1001px) {
    .img-archives-index {
        height: 41vh;
        margin-top: -2.5em;
        margin-bottom: 4em;
    }

    .fic_details {
        padding-left: 4.5em;
        padding-right: 4.5em;
        padding-top: 2em;
        padding-bottom: 1.5em;
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .fic_details_header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}


@media screen and (min-width: 801px) and (max-width: 1000px) {
    .img-archives-index {
        height: 31vh;
        margin-top: -0.2em;
        margin-bottom: 2em;
    }

    .fic_details {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 2em;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .fic_details_header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .img-archives-index {
        height: 27vh;
        margin-top: -2em;
        margin-bottom: 2em;
    }

    .fic_details {
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 2em;
    }

    .fic_details_header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .img-archives-index {
        height: 20vh;
        margin-top: -2em;
        margin-bottom: 2em;
    }

    .fic_details {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 0.7em;
    }

    .fic_details_header {
        display: flex;
        flex-flow: column;
    }

    .fic_details_header :nth-child(1) { order: 2; }
    .fic_details_header :nth-child(2) { order: 1; }

    .fic-date {
        text-align: end;
    }

}
