@import "./base.css";

.story .fic-title {
    color: #35182b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #35182b;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-transform: uppercase;
    /* font-style: italic; */
    margin: 1%;
}

.story .author-name {
    margin: 1%;
    font-size: x-large;
    text-align: center;
}
.story {
    background-color: #F4F3F1;
    color: #35182b;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-align: justify;
    margin: 2em;
    margin-top: 7%;
    border: thin dotted #703A4B;
    border-radius: 15px;
}

.story .story-body {
    margin-top: 7%;
    margin-bottom: 5%;
    font-size: 20px;
}

.story .story-buttons {
    display: flex;
    flex-flow: row;
    justify-content: end;
    margin-bottom: 5%;
}

.story-buttons button {
    background-color: #35182b;
    color: #F4F3F1;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-transform: uppercase;
    padding: 2vh;
    margin: 0px;
    border: #D3B1C2 medium double;
    border-radius: 10px;
}

.story-buttons button:hover {
    background-color: #603952;
    color: #F4F3F1;
}

#clap {
    margin-top: 5vh;
    padding: 10px;
}

@media screen and (min-width: 1001px) {
    .story {
        padding-top: 5vh;
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .story .fic-title {
        margin-bottom: 10vh;
    }

    .story-buttons {
        margin-right: -4vw;
        margin-bottom: 10vh;
    }

    .author-name {
        margin-top: 9vh !important;
    }

    .story-buttons button {
        font-size: 1em;
        padding: 17px;
    }
}


@media screen and (min-width: 801px) and (max-width: 1000px) {
    .story {
        padding-top: 4vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .story .fic-title {
        margin-bottom: 10vh;
    }

    .story-buttons {
        margin-right: -5vw;
        margin-bottom: 10vh;
        font-size: 1.1em;
    }

    .author-name {
        margin-top: 5vh !important;
    }

    .story-buttons button {
        font-size: 1em;
        padding: 17px;
    }
}

/*Autres tailles : 480px, 768px, 1024px, 1200px, ouch*/
@media screen and (min-width: 601px) and (max-width: 800px) {
    .story {
        margin-top: -4vh;
        padding-top: 2vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .story .fic-title {
        margin-bottom: 8vh;
    }

    .story-buttons {
        margin-right: -6vw;
    }

    .story-buttons button {
        font-size: 0.9em;
        padding: 16px;
    }
}

@media screen and (max-width: 600px) {
    .story {
        margin-top: -6vh;
        padding-top: 2vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .story .fic-title {
        margin-bottom: 8vh;
    }

    .story-buttons {
        margin-right: -7vw;
    }

    .story-buttons button {
        font-size: 0.9em;
        padding: 12px;
    }
}
