@import "./base.css";

.story .fic-title {
    color: #35182b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #35182b;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-transform: uppercase;
    /* font-style: italic; */
    margin: 1%;
}

.story .author-name {
    margin: 1%;
    font-size: x-large;
    text-align: center;
}
.story {
    background-color: #F4F3F1;
    color: #35182b;
    font-family: 'Courier Prime', "Libre Baskerville", serif;
    text-align: justify;
    margin: 2em;
    margin-top: 7%;
    padding: 5%;
    border: thin dotted #703A4B;
    border-radius: 15px;
}

.story .story-body {
    margin-top: 7%;
    margin-bottom: 5%;
    font-size: 20px;
}

.story .story-buttons {
    display: flex;
    flex-flow: row;
    justify-content: end;
    margin-bottom: 5%;
    margin-right: 2%;
}

.story-buttons button {
    color: #E7E6E1;
    background-color: #703A4B;
    padding: 2%;
    border: #D3B1C2 medium double;
    border-radius: 10px;
    font-family: 'IM Fell Double Pica', "Libre Baskerville", serif;
    font-size: 1.5em;
}

@media screen and (min-width: 1001px) {
    .story {
        padding-top: 11vh;
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .story .fic-title {
        margin-bottom: 10vh;
    }
}


@media screen and (min-width: 801px) and (max-width: 1000px) {
    .story {
        padding-top: 11vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .story .fic-title {
        margin-bottom: 10vh;
    }
}

/*Autres tailles : 480px, 768px, 1024px, 1200px, ouch*/
@media screen and (min-width: 601px) and (max-width: 800px) {
    .story {
        margin-top: -6vh;
        padding-top: 11vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .story .fic-title {
        margin-bottom: 8vh;
    }
}

@media screen and (max-width: 600px) {
}
