<header>
    <section class="bannerBlockTitle">
        <img src="/static/images/elegant_background_with_gold_glittery_frame.svg"></img>
        <p class="bannerTitle">Sen Senestre</p>
        <p class="bannerSubtitle">Autrice M/M & fantasy</p>
    </section>

    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Accueil</a></li>
            <li><a href="{% url 'about' %}">À propos</a></li>
            <li><a href="{% url 'archives:index' %}">Lire</a></li>
        </ul>
    </nav>
</header>