<header class="main-site-header">
    <section class="logo-block">
        <img src="/static/images/simpler_logo2.svg"></img>
        <p class="logo-title">Sen Senestre</p>
        <p class="logo-subtitle">Autrice M/M & fantasy</p>
    </section>

    <nav>
        <ul>
            <li id="news-page-li"><a href="{% url 'homepage' %}">Accueil</a></li>
            <li id="about-li"><a href="{% url 'about' %}">À propos</a></li>
            <!-- <li id="library-li"><a href="{% url 'archives:index' %}">Lire</a></li> -->
            <li id="gadgets-li"><a href="{% url 'gadgets:index' %}">Gadgets</a></li>
            <li id="vn-li"><a href="{% url 'voiture_noire:index' %}">Voiture Noire</a></li>
        </ul>
        <img class ="nav-underliner" src="/static/images/separateur_big_set_sl.svg"></img>
    </nav>
</header>