{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="{{ AUTHOR_NAME }}" />
        <meta
            name="keywords"
            content="{{ PAGE_TAGS }}"
        />
        <meta
            name="description"
            content="{% block page_desc %}{{ META_DESCRIPTION }}{% endblock %}"
        />

        <title>
            {% block title %} {{ AUTHOR_NAME }} | {{ AUTHOR_BLURB }}{% endblock %}
        </title>
        {% block stylesheet %}
        <link rel="stylesheet" href="/static/base.css" />
        {% endblock %}
    </head>

    <body>
        {% include "bannerBase.html" %}

        <main>{% block content %} {% endblock %}</main>

        <footer>Copyright 2024 by une femme fabuleuse.</footer>
    </body>

    <script>
        window.addEventListener('load', function () {
            const title = document.getElementsByTagName("h1")[0]

            if (title.id == 'gadgets-title') {
                let header = document.getElementsByClassName("main-site-header")[0]
                header.id = "gadgets-header"
            }
            
            try {
                indicateSelectedPage(title)
            } catch (e) {
            }
        })

        function indicateSelectedPage(title) {
            const pageName = title.id.slice(0, -6)

            const liName = `${pageName}-li`
            const li = document.getElementById(liName)
            let a = li.childNodes[0]
            a.classList.add("selected")
        }
    </script>
</html>
