<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="Sen" />
        <meta
            name="keywords"
            content="M/M, BL, yaoi, gay fantasy, collectif Aquilegia,
            Aquilegia, autrice, LGBTQ, Sen, Senzen, Senzen_Travers, romans"
        />
        <meta
            name="description"
            content="{% block page_desc %}Découvrez les romans et les nouvelles de Sen. Au menu : du M/M, de la fantasy et de l'action !{% endblock %}"
        />

        <title>
            {% block title %} Sen Senestre, Autrice M/M | Romans BL et fantasy
            {% endblock %}
        </title>
        {% block stylesheet %}
        <link rel="stylesheet" href="/static/base.css" />
        {% endblock %} <link rel=icon href=favicon.ico type=image/ico>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+Double+Pica:ital@0;1&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        {% include "bannerBase.html" %}

        <main>{% block content %} {% endblock %}</main>

        <footer>Copyright 2024 by une femme fabuleuse.</footer>
    </body>

    <script>
        window.addEventListener('load', function () {
            const title = document.getElementsByTagName("h1")[0]
            indicateSelectedPage(title)
        })

        function indicateSelectedPage(title) {
            const pageName = title.id.slice(0, -6)
            console.log(pageName)

            const liName = `${pageName}-li`
            const li = document.getElementById(liName)
            let a = li.childNodes[0]
            a.classList.add("selected")
        }
    </script>
</html>
