<article class="article-story">
    <p class="article-story-date">{{ story.date }}</p>
    <div class="div-story-header-block">
        <h2 class="article-story-title">
            <a href="{% url 'archives:read_story' story.id 1 %}">
                {{ story.story_title }}</a>
            <span class="author-name">par {{ story.author }}</span>
        </h2>

        {% if story.author.member == user %}
        <div class="div-story-title-buttons">
            <a
                class="article-story-btn"
                href="{% url 'archives:edit_story' story.id %}"
                aria-label="Éditer"
                title="Éditer"
            >
                <img src="/static/images/pen-line-svgrepo-com.svg">
            </a>
            <a
                class="article-story-btn"
                href="{% url 'archives:publish_chapter' story.id %}"
                aria-label="Ajouter un chapitre"
                title="Ajouter un chapitre"
            >+</a>

            <button
                class="article-story-btn delete-btn"
                type="button"
                data-element-id="{{ story.id }}"
                data-story-title="{{ story.story_title |escapejs}}"
                aria-label="Supprimer"
                title="Supprimer"
                onclick="showDeleteModal(this, 'story')"
            >
                <img src="/static/images/bin-svgrepo-com.svg">
            </button>
        </div>
    {% endif %}

    </div>

    <div class="story-administration">
        <p class="article-story-admin-details">
            {% if user == story.author.member %}
                {{story.get_visibility_display }} ❖
            {% endif %}

            {% for pair in story.pairing_type.all %}
                {{pair.label }}
                {% if not forloop.last %}
                &
                {% endif %}
            {% endfor %} ❖
            
            {{ story.text_length.capitalize }} ❖

            {{ story.get_rating_display }} ❖          

            {% if story.complete %}
                <span class="span-story-finished">ACHEVÉ</span>
            {% else %}
            <span class="span-story-ongoing">En cours</span>
            {% endif %}
        </p>
    </div>
    
    <div class="story-summaries">
            {% autoescape off %}
                {{ story.summary }}
            {% endautoescape %}
        {% if story.pairing_archetype != '' %}
            <p>
                <span class="article-story-categ-name">Le(s) couple(s) : </span>{{ story.pairing_archetype }}
            </p>
        {% endif %}
        {% if story.one_sentence_summary != '' %}
        <p>
            <span class="article-story-categ-name">En quelques mots : </span>{{ story.one_sentence_summary }}
        </p>
    {% endif %}
    </div>
    {% if story.chapters.all.count > 1 %}
    <div class="story-chapters">
        {% for chapter in story.chapters.all %}
            <a
                class="article-story-btn"
                href="{% url 'archives:read_story' story.id chapter.number %}"
            >
            {{ chapter.number }}
            </a>
        {% endfor %}
    </div>
    {% endif %}
</article>

<hr class="hr-separator-story-articles">