{% extends '../base.html' %}

{% block page_desc %}
    {{ fic.pairing_type }} • {{ fic.title }}, par {{ fic.author }} • {{ fic.rating }}
{% endblock %}
{% block stylesheet %}
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/archives_story.css">
{% endblock %}

{% block title %}
{{ fic.title }}, par {{ fic.author }}
{% endblock %}

{% block content %}
<section class="story">
    <div class="story-buttons">
        <form action="{% url 'archives:download_html' fic.id %}" method="POST">
            {% csrf_token %}
            <button class="story-button" type="submit">HTML</button>
        </form>
        <form action="{% url 'archives:download_pdf' fic.id %}" method="POST">
            {% csrf_token %}
            <button class="story-button" type="submit">PDF</button>
        </form>
    </div>

    <div class="block-story-title">
        <p class="author-name">{{ fic.author }}</p>
        <h1 class="fic-title">{{ fic.title }}</h1>
    </div>

    {% if chapters|length > 1 %}
    <div class="story-chapters-block">
        {% if number != 1 %}
            <button class="story-button">
                <a href="{% url 'archives:show_chapter' fic.id number|add:'-1' %}">Précédent</a>
            </button>
        {% endif %}

        <label for="chapter-select" hidden >Sélectionnez un chapitre</label>
        <select name="chapters" id="chapter-select">
            {% for chap in chapters %}
                <option
                    onclick="window.location = '{% url 'archives:show_chapter' fic.id chap.number %}'"
                    value="{{ chap.number }}">
                    {% if chap.title == none %}
                        Chapitre {{ chap.number }}
                    {% else %}
                        {{ chap.number }}. {{ chap.title }}
                    {% endif %}
                </option>
            {% endfor %}
          </select>

        {% if number|add:1 <= chapters|length %}
            <button class="story-button"><a href="{% url 'archives:show_chapter' fic.id number|add:1 %}">Suivant</a></button>
        {% endif %}        
    </div>
    {% endif %}

    <section class="story-body">
        {% autoescape off %}
        {{ current_chapter.content }}
        {% endautoescape %}
    </section>

    <section id="after-reading-actions">
    {% if messages %}
    <script>
    function Scrolldown() {
        window.scrollTo(0, document.body.scrollHeight); 
    }
    
    window.onload = Scrolldown;</script>
    {% for message in messages %}
    <p class="thanks">Merci pour votre soutien ! ♥ </p>
    {% endfor %}
    {% endif %}
    <form action="{% url 'archives:clap' current_chapter.id %}" method="POST"
    class="story-buttons">
        {% csrf_token %}
        <button
            class="story-button"
            type="submit"
            id="clap"
            alt="Applaudir"
            title="Applaudir">♥</button>
      </form>
    </section>
</section>

{% endblock %}