{% extends '../voiture_noire/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/voiture_noire/story_read.css">
{% endblock %}

{% block title %}
    La bibliothèque de la Petite Voiture Noire
{% endblock %}

{% block content %}
<noscript>
    <div class="javascript-warning">
        Ce site requiert javascript pour fonctionner correctement. Désolée !
    </div>
</noscript>

<h1>Une Petite Voiture Noire</h1>

<hr>

<section class="section-story">
    <header class="header-story">
        <h2 class="header-story-title">
                {{ story.fic_title }}
        </h2>
        <p class="header-author-name">par {{ story.author }}</p>
        <!-- <hr> -->
    </header>

    {% if story.fic_author_note != '' or story.fic_author_note != '<p><br></p>' or chapter.author_note != '' or chapter.author_note != '<p><br></p>' %}
        <section class="section-story-notes">
            {% if story.fic_author_note != '' and story.fic_author_note != '<p><br></p>' %}
                <section class="story-author-note">
                    <h3>Commentaires de l'auteur/autrice</h3>
                    {% autoescape off %}
                    {{ story.fic_author_note }}
                    {% endautoescape %}
                </section>
            {% endif %}


            {% if chapter.author_note != '' and chapter.author_note != '<p><br></p>' %}
                <section class="chapter-author-note">
                    <h3>Notes du chapitre</h3>
                    {% autoescape off %}
                    {{ chapter.author_note }}
                    {% endautoescape %}
                </section>
            {% endif %}
        </section>
    {% endif %}

    <section class="story-body">
        {% if story.has_multiple_chapters and chapter.chapter_title == '' or story.has_multiple_chapters and chapter.chapter_title == None %}
            <h3 class="story-chapter-title">Chapitre {{ chapter.number }}</h3>
        {% elif story.has_multiple_chapters and chapter.chapter_title != '' and chapter.chapter_title != None %}
            <h3 class="story-chapter-title">Chapitre {{ chapter.number }} : {{chapter.chapter_title}}</h3>
        {% elif chapter.chapter_title != '' and chapter.chapter_title != None %}
            <h3 class="story-chapter-title">{{chapter.chapter_title}}</h3>
        {% endif %}
                

        {% autoescape off %}
            {{ chapter.content }}
        {% endautoescape %}
    </section>

    {% if story.has_multiple_chapters %}
        <section class="story-footer">
            {% if chapter.number > 1 %}
                <a
                    class="chapter-nav-link" 
                    href="{% url 'archives:story_read_mode' story.id 1 %}"
                >
                    Premier chapitre
                </a>
                <a
                    class="chapter-nav-link" 
                    href="{% url 'archives:story_read_mode' story.id chapter.previous_chapter_index %}"
                >
                    Précédent
                </a>
            {% endif %}

            {% if chapter.number != story.number_of_chapter %}
            <a
                class="chapter-nav-link" 
                href="{% url 'archives:story_read_mode' story.id chapter.next_chapter_index %}"
            >
                Suivant
            </a>
            <a
                class="chapter-nav-link" 
                href="{% url 'archives:story_read_mode' story.id story.number_of_chapter %}"
            >
                Dernier chapitre
            </a>

            {% endif %}
        </section>
    {% endif %}

</section>
{% endblock %}