{% extends '../base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/archives_story.css">
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
{% endblock %}

{% block title %}
{{ fic.title }}, par {{ fic.author }}
{% endblock %}

{% block content %}
<section class="story">
    <div class="story-buttons">
        <form action="{% url 'archives:download_html' fic.id %}" method="GET">
            <button type="submit">HTML</button>
          </form>
    </div>
    <p class="author-name">{{ fic.author }}</p>
    <h1 class="fic-title">{{ fic.title }}</h1>

    <section class="story-body">
        {% autoescape off %}
        {{ current_chapter.content }}
        {% endautoescape %}
    </section>

    <!-- {{ fic.clap }} -->
</section>

{% endblock %}